@font-face {
  font-family: 'myFont';
  src:  url('./Branda.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'myFont';
  font-size: 34px;
  background: url(./webpack.png);
}